@import '../../styles/mixins';

.typography {
  user-select: none;
  margin: 0;
}

.large {
  font-size: var(--kebab-font-size-xxl);
  font-weight: var(--kebab-font-weight-semibold);
  line-height: var(--kebab-line-height-l);
}

.h1 {
  font-size: var(--kebab-font-size-xl);
  font-weight: var(--kebab-font-weight-bold);
  line-height: var(--kebab-line-height-l);
}

.h2 {
  font-size: var(--kebab-font-size-l);
  font-weight: var(--kebab-font-weight-bold);
  line-height: var(--kebab-line-height-m);
}

.h3 {
  font-size: var(--kebab-font-size-m);
  font-weight: var(--kebab-font-weight-semibold);
  line-height: var(--kebab-line-height-m);
}

.regular16 {
  font-size: var(--kebab-font-size-m);
  font-weight: var(--kebab-font-weight-regular);
  line-height: var(--kebab-line-height-m);
}

.regularBold16 {
  font-size: var(--kebab-font-size-m);
  font-weight: var(--kebab-font-weight-bold);
  line-height: var(--kebab-line-height-m);
}

.regular14 {
  font-size: var(--kebab-font-size-s);
  font-weight: var(--kebab-font-weight-regular);
  line-height: var(--kebab-line-height-m);
}

.regularMedium14 {
  font-size: var(--kebab-font-size-s);
  font-weight: var(--kebab-font-weight-medium);
  line-height: var(--kebab-line-height-m);
}

.regularBold14 {
  font-size: var(--kebab-font-size-s);
  font-weight: var(--kebab-font-weight-bold);
  line-height: var(--kebab-line-height-m);
}

.small {
  font-size: var(--kebab-font-size-xs);
  font-weight: var(--kebab-font-weight-regular);
  line-height: var(--kebab-line-height-s);
}

.smallSemiBold {
  font-size: var(--kebab-font-size-xs);
  font-weight: var(--kebab-font-weight-semibold);
  line-height: var(--kebab-line-height-s);
}

.regularLink {
  cursor: pointer;

  font-size: var(--kebab-font-size-s);
  font-weight: var(--kebab-font-weight-regular);
  line-height: var(--kebab-line-height-m);
  color: var(--kebab-primary-500);
  text-decoration: underline;
}

.smallLink {
  cursor: pointer;

  font-size: var(--kebab-font-size-xs);
  font-weight: var(--kebab-font-weight-regular);
  line-height: var(--kebab-line-height-s);
  color: var(--kebab-primary-500);
  text-decoration: underline;
}

@include mobile-small {
  .h1 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
  }
}

